@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  text-align: center;
  font-size: 1em;
  font-family: verdana;
  margin: 0;
  background-color:rgb(188, 218, 151);
}

h1 {
  font-size: 1.2em;
  padding: 28px 0;
  margin: 4px 0;
  margin: 0 0 30px 0;
  color: rgb(27, 27, 27);
}

/* rows */
.row {
  text-align: center;
  display: flex;
  justify-content: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  transform: rotateZ(-5deg);
  transition-duration: 1s;
}

.logo:hover {
  transform: rotateZ(5deg);
}

.row>div {
  display: block;
  width: 65px;
  height: 65px;
  border: 1px solid #a92520;
  box-shadow: 0px 2px 4px rgb(53, 85, 77);
  margin: 15px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;

}

.row>div.green {
  --background: #5ac85a;
  --border-color: #5ac85a;
  animation: flip 0.5s ease forwards;
}

.row>div.grey {
  --background: #a1a1a1;
  --border-color: #a1a1a1;
  animation: flip 0.6s ease forwards;
}

.row>div.yellow {
  --background: #e2cc68;
  --border-color: #e2cc68;
  animation: flip 0.5s ease forwards;
}

.row>div:nth-child(2) {
  animation-delay: 0.2s;
}

.row>div:nth-child(3) {
  animation-delay: 0.4s;
}

.row>div:nth-child(4) {
  animation-delay: 0.4s;
}

.row>div:nth-child(5) {
  animation-delay: 0.6s;
}

.row.current>div.filled {
  animation: bounce 0.1s ease-in-out forwards;
}

/* keyframe animations */
@keyframes flip {
  0% {
    transform: rotateX(0);
    background: #fff;
    border-color: #333;
  }

  45% {
    transform: rotateX(90deg);
    background: white;
    border-color: #333;
  }

  55% {
    transform: rotateX(90deg);
    background: var(--background);
    border-color: var(--border-color);
  }

  100% {
    transform: rotateX(0deg);
    background: var(--background);
    border-color: var(--border-color);
    color: #eee;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
    border-color: #ddd;
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
    border-color: #333;
  }
}

.keypad {
  max-width: 500px;
  margin: 20px auto;
}

.keypad>div {
  margin: 8px;
  width: 40px;
  height: 50px;
  background: #d791c9;
  display: inline-block;
  border-radius: 6px;
  line-height: 50px;
  transition-duration: 1s;
}

.keypad>div:hover {
  transform: scale(1.6);
}

.keypad>div.green {
  background: #23c823;
  color: #fff;
  transition: all 0.8s ease-in-out;
}

.keypad>div.yellow {
  background: #eefa4c;
  color: #fff;
  transition: all 0.3s ease-in;
}

.keypad>div.grey {
  background: #a1a1a1;
  color: #fff;
  transition: all 0.3s ease-out;
}

.modal {
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal div {
  max-width: 480px;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  margin: 10% auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.modal .solution {
  color: #f91863;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
}